<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="style/kfc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style/delivery.css">
    <title>Order KFC Online Menu | KFC Menu For Sharing</title>
    <link rel="icon" href="img/icon.png">
   
      
       
 
</head>
<body ng-app="kfcApp" ng-controller="pickupController">
    <header id="header">
        <div>
            <a href="Homepage.html">
                <img src="img/icon.png" alt="">
            </a>
            <div id="header-link">
                <a href="Team15_Cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span id="total">$0.00</span></a>
                <a href="Team15_LogIn.html">Sign In
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <a href="Team15_Contact.html"><i class="fa fa-phone" aria-hidden="true"></i> Contact us</a>
                <a href="Team15_Introduce.html"><i class="fa fa-info" aria-hidden="true"></i> Introduce</a>
            </div>
        </div>
        <nav>
            <div>
                <a href="Team15_PickUp.html"><img src="img/shop.png" alt="">PICKUP</a><a class="active" href="Team15_Delivery.html"><img src="img/moto.png" alt="">DELIVERY</a><a href=""><img src="img/cuisine.png" alt="">CATERING</a>
            </div>
            <div>
                <a href="">Set your KFC store to see local menu and pricing</a>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <div class="container">
                <h2 >PAYMENT PROCESSING</h2>
                <div class="row">
                    <div class="col-70">
                        <div class="container-checkout">
                            <form action="/action_page.php">
                                <div>
                                    <div>
                                        <h3>Customer information(Please fill in the necessary information)</h3>
                                        
                                            <label for="fname"> Fullname</label>
                                        
                                        <input class="input-checkout" type="text" id="fname" name="firstname" placeholder="Input fullname">
                                        <label for="phone"> Telephone number</label>
                                        <input class="input-checkout" type="text" id="phone" name="phone" placeholder="Input telephone number">
                                        <label for="city"> Province/City</label>
                                        <input class="input-checkout" type="text" id="province" name="province" placeholder="Input provice">
                                        <label for="district"> District</label>
                                        <input class="input-checkout" type="text" id="district" name="district" placeholder="Input district">
                                        <label for="ward"> Ward</label>
                                        <input class="input-checkout" type="text" id="ward" name="ward" placeholder="Input ward">
                                        
                                        <h3>Payment  </h3>
                                        <label for="cname">Payment method</label>
                                        
                                            <input type="radio" name="paytype" id="cod" value="COD" onclick="an()" />  COD
                                            <br />
                                            <input type="radio" name="paytype" id="bank" value="BANK" onclick="hienthi()" id="paymentcb" /> Bank transfer
                                            <div id="content" hidden="hidden">
                                                <br />
                                                Bank information
                                                <br />
                                                - Bank number of account: 6602213496221
                                                <br />
                                                - Owner: Lê Quốcc Cường
                                                <br />
                                                - Bank Name: Agribank
                                                <br />
                                                
                                                Thank you so much
                                            </div>
                                       
                                        <label for="discountcode">Discount code</label>
                                        <input class="input-checkout" type="text" id="discountcode" name="cardname" placeholder="Input discount code">
                                    </div>
                                   
                                   
                                </div>
                                <label class="float-left">
                                    <input type="checkbox" checked="checked" > Do you want to receive bill?
                                </label>
                                <input type="button" value="Purchase" class="btn1"  onclick="check()"  >
                            </form>
                        </div>
                    </div>
                    <div class="col-30">
                        <div class="container-checkout">
                            <h4>Cart <span class="price" ></span><i class="fa fa-shopping-cart"></i> <b>3</b></span></h4>
                            <p><a class="tenmonan" href="#"> 7 Up</a> <span class="price">$3</span></p>
                            <p><a class="tenmonan" href="#">1 Piece of Chicken</a> <span class="price">$3</span></p>
                            <p><a class="tenmonan" href="#">6 Piece of Chicken</a> <span class="price">$14.95</span></p>
                            <hr>
                            <p>Temporary <span class="price">$20.95</span></p>
                            <p>Discount <span class="price">0</span></p>
                            <p>Ship Payment <span class="price">0</span></p>
                            <p>Total <span class="price" ><b>$ 20.95</b></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <h1>Find your nearest restaurant</h1>
            <button>KFC NEAR ME</button>
        </div>
        <div ng-controller="footerController">
            <ul ng-repeat="item in footer" id="{{item.link}}">
                <a class="btn" href="#{{item.link}}">{{item.content}}</a>
                <div class="submenu">
                    <li ng-repeat="detail in item.details" ><a href={{detail.link}}>{{detail.content}}</a></li>
                </div>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="">Terms</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Yum</a></li>
            </ul>
            © 2020 KFC Australia. All rights reserved. Version: 3.4.7647.31628
        </div>
    </footer>
    <script src="kfc.js"></script>
    <script>
       function check()
       {
        var arr=document.getElementsByTagName("input");
            var name=arr[0].value;
            var phone=arr[1].value;
            var province=arr[2].value;
            var district=arr[3].value;
            var ward=arr[4].value;
            var paymentmethod=arr[5].value;

        if(name==""||phone==""||district==""||ward==""||paymentmethod==""||province=="")
        {
                    alert("Please fill all fields");
                    return;
        }
        if(isNaN(phone)||phone.length!=10)
        {
            alert("Phone incorrect");
            return;
        }
        
        
    
        else
        {
            alert("Payment successful");
            location.href='Homepage.html';
       
        }
       
    }
    function an() {
                document.getElementById("content").style.display = 'none';
            };
        function hienthi()

             {
                document.getElementById("content").style.display = 'block';
            };
    
    </script>
</body>
</html>